.link {
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}

.active {
    background: rgb(54, 54, 255);
    color: white;
}

.navigationList {
    display: flex; 
    justify-content: center; 
    gap: 20px; 
}
